// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$key_lime: #E8F497;
$peach: #FEE4D1;
$topaz: #FCC97E;
$pumpkin: #FC7A1D;
$red_ryb: #FC1C0C;
$sangria: #91000E;
