<div class="banner" style="background-image: url(<%= cl_image_path("uavyb0lmzrvoztxt6lcp.jpg") %>)">
  <div class="container">
    <h1>Welcome to my Peruvian cocktails</h1>
    <br>
    <p>
      <%= link_to "Let's create a cocktail", new_cocktail_path, class: 'btn btn-gradient' %>
    </p>
  </div>
</div>
<br>
<div class="card-cocktail" style="background-image: url(<%= cl_image_path("jebzki6z6ffbtqejgk7v.jpg") %>)">
  <div class="card-cocktail-infos">
    <div>
      <p>
        <ul>
          <li>
            <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <% end %>

          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
